body {
    height: 100%;
    font-family: Roboto, sans-serif;
    color: #181919;
    background-color: #f5f5f5;
}

.navbar-brand {
    font-family: koulen, sans-serif;
    color: #f5f5f5;
    font-size: 2rem;
}

.brand {
    font-family: koulen, sans-serif;
    font-size: 2rem;
    color: #181919;
}

.leaf {
    color: #708D81
}

.nav-item {
    font-family: Roboto, sans-serif;
}

h1 {
    padding-top: 2rem;
}

h2 {
    font-family: Roboto, sans-serif;
}

p {
    font-weight: 400;
}

.btn {
    font-family: Roboto, sans-serif;
    background-color: #FF5F5C;
    border: #FF5F5C;
}

.btn:hover {
    background-color: #181919;
    color: #FF5F5C;
}

#submit-recipe {
    color: #f5f5f5;
}


.recipe-link {
    text-decoration: none;
    color: #181919;
}

.recipe-link:hover {
    color: #FF5F5C
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }

#detail-image {
    height: 50vh;
}

.account-titles {
    font-family: Koulen, sans-serif;
}

.btn-like {
    font-size: 2rem;
    color: #FF5F5C;
    border: none;
    background: transparent;
}

.btn-edit {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    color: #181919;
    border: none;
    background: transparent;
}

button.btn-edit {
    margin: 0px;
    padding: 0px;
}

form {
    margin-bottom: 3em;
}

.footer-brand {
    font-family: koulen, sans-serif;
    text-decoration: none;
}

.page-link {
    color: #181919
}

/* Responsive Summernote Input Field for smaller screens */
@media (max-width: 994px) {
    iframe {
        width: 80%
    }
}