{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="card mb-3 text-center">
        <div class="card-body">
            <h1 class="card-title">Add Your New Recipe</h1>
        </div>
        <div class="row justify-content-md-center">
            <div class="col mb-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn" id="submit-recipe">
                </form>
            </div>
    </div>
</div>








{% endblock %}