{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="card mb-3 text-center">
        {% if "placeholder" in recipe.featured_image.url %}
        <img class="card-img-top"
            src="https://res.cloudinary.com/df8srtdzw/image/upload/v1653901223/background_mylb0d.jpg">
        {% else %}
        <img class="card-img-top" src=" {{ recipe.featured_image.url }}">
        {% endif %}
        <div class="card-body">
            <h1 class="card-title">{{ recipe.title }}</h1>
            <p class="card-text"><small class="text-muted">Recipe Author: {{ recipe.author }}</small></p>
            <p class="card-text text-muted h6">{{ recipe.created_on}}


            <div class="card-body">
                <strong>
                    {% if user.is_authenticated %}
                    <form action="{% url 'recipe_like' recipe.slug %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </button>
                        {% else %}
                        <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn-like">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </button>
                        {% endif %}

                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
                    {% endif %}
                    <span class="text-secondary">{{ recipe.number_of_likes }}</span>
                </strong>
            </div>


            <p class="card-text"> {{ recipe.description|safe }} </p>
        </div>
    </div>
    <div class="card-group">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Ingredients</h5>
                <p class="card-text">{{ recipe.ingredients|safe }}</p>
                <hr>
                <p class="card-text"><small class="text-muted">Servings: {{ recipe.servings }}</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Method</h5>
                <p class="card-text">{{ recipe.method|safe }}</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Comments</h5>
                <p class="card-text">
                    {% with comments.count as total_comments %}
                    <strong class="text-secondary"><i class="far fa-comments"></i>
                        {{ total_comments }}</strong>
                    {% endwith %}
                </p>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card mb-3">
            {% if user.is_authenticated %}
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
            {% else %}
            <div class="card-body text-center">
                <p>Please sign in or register to leave a comment</p>
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a>
                <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}