{% extends "base.html" %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="card mb-3">
        <img class="card-img-top recipe-detail-image" src="{{ recipe.featured_image.url }}" alt="Card image cap">
        <div class="card-body">
            <h1 class="card-title text-center">{{ recipe.title }}</h1>
            <p class="card-text text-center"><small class="text-muted">Recipe Author: {{ recipe.author }}</small></p>
            <p class="card-text text-muted h6 text-center">{{ recipe.created_on}} <i class="far fa-thumbs-up"></i>
                {{ recipe.number_of_likes }}</p>
            <p class="card-text"> {{ recipe.description|safe }} </p>
        </div>
    </div>
    <div class="card-group">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Ingredients</h5>
                <p class="card-text">{{ recipe.ingredients|safe }}</p>
                <hr>
                <p class="card-text"><small class="text-muted">Servings: {{ recipe.servings }}</small></p>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Method</h5>
                <p class="card-text">{{ recipe.method|safe }}</p>
            </div>
        </div>
    </div>    
        <div class="card-group">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <p class="card-text">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </p>
                    <div class="card-body">
                        {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.name }}
                                <span class=" text-muted font-weight-normal">
                                    {{ comment.created_on }}
                                </span> wrote:
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <!-- For later -->
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}

                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}